# get_data_yahoo
## 概要
- pandas_datareader, yfinanceを用いる
- yahoo financeより株価データを取得する
- 株価データをcsvファイルに保存する
## 参考
### Pythonで日本の株価を取得する方法
* https://techblog.gmo-ap.jp/2022/06/07/pythonstockdata/
### yahoo financeでの株価取得
* https://finance.yahoo.com/quote/4784.T/history?p=4784.T
### install packages
* python -m pip install -U --force-reinstall yfinance

In [1]:
import os
import datetime as dt
import pandas as pd
#import pandas_datareader as pdr
from pandas_datareader import data as pdr
import yfinance as yf

In [2]:
#銘柄コード入力
ticker = "AAPL"

#1900-01-01以降の株価取得
start = dt.date(1900,1,1)
end = dt.date.today()

#データ取得
yf.pdr_override()
df = pdr.get_data_yahoo(ticker, start, end)
df.sort_index(inplace=True)
df.reset_index(inplace=True)

#1列目に銘柄コード追加
df.insert(0, "code", ticker, allow_duplicates=False)

#csv保存
dr_path = "data/yahoo"
os.makedirs(dr_path, exist_ok=True)
df.to_csv(dr_path + '/' + ticker + '.csv', index=False)

[*********************100%***********************]  1 of 1 completed

In [3]:
df.head(3)

,code,Date,Open,High,Low,Close,Adj Close,Volume
0,AAPL,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099722,469033600
1,AAPL,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.094519,175884800
2,AAPL,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.087582,105728000