# get_data_stooq
## 概要
- pandas_datareaderを用いる
- stooqより株価データを取得する
- 株価データをcsvファイルに保存する
## 参考
### Pythonで日本の株価を取得する方法
* https://techblog.gmo-ap.jp/2022/06/07/pythonstockdata/
### stooqでの株価取得
* https://stooq.com/q/d/?s=4784.jp
###  install packages
* pip install pandas_datareader

In [1]:
import os
import datetime as dt
import pandas as pd
import pandas_datareader.data as web

In [2]:
#銘柄コード入力(7177はGMO-APです。)
ticker_symbol = "7177"
ticker_symbol_dr = ticker_symbol + ".JP"

#1900-01-01以降の株価取得
start = '1900-01-01'
end = dt.date.today()
 
#データ取得
df = web.DataReader(ticker_symbol_dr, data_source='stooq', start=start, end=end)
df.sort_index(inplace=True)
df.reset_index(inplace=True)

#1列目に銘柄コード追加
df.insert(0, "code", ticker_symbol, allow_duplicates=False)

#csv保存
dr_path = "data/stoop"
os.makedirs(dr_path, exist_ok=True)
df.to_csv(dr_path + '/' + ticker_symbol + '.csv', index=False)

In [3]:
df.head(3)

   code       Date     Open     High      Low    Close  Volume
0  7177 2015-04-01  1281.73  1294.50  1112.05  1114.80  130553
1  7177 2015-04-02  1140.34  1140.34  1013.52  1045.45   81773
2  7177 2015-04-03  1038.16  1055.50  1013.52  1021.75   25650